html,
body {
    background-image: url('../../assets/images/concrete_seamless.png'); 
    background-repeat: repeat; 
    background-size: cover; 
    background-position: center center;
    overflow:visible;
    height: 100%;
}



.navbar-brand {
    float: left;
    height: 5rem;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #4aaaa5;
    
}

/*I dont think I coded the height correctly for botstrap 
moving to the body for better functionality
.bg{
    background-image: url('/assets/images/concrete_seamless.png'); 
    background-repeat: repeat; 
    background-size: cover; 
    background-position: center center;
    overflow:visible;
    height: 100%;
}
*/
    
.card {
    margin-top: 1rem;
    clear: both;
}

/* attempt at resizing the image*/

.img-thumbnail {
    height: 30%;
    width: 30%;
}

/*attempt at getting card to stop floating above header*/
.container{
 position: relative
   
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }



/*---Media queries---*/
@media (max-width: 980px) {

}
@media (max-width: 768px) {

}
@media (max-width: 640px) {

}